.container-fluid.footer
    p
        | NOTE IT
        br
        |     Developer - Ritik Pandey
        br
        |   Graphics  - 
        a(href="https://www.freepik.com/" style="color: #fff;") www.freepik.com
