.container-fluid.footer
    p
        | NOTE IT
        br
        |     Graphics  - 
        a(href="#" style="color: #fff;") www.freepik.com
        br
        |     Developer - Ritik Pandey
        
